*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

html, body{
    display: block;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    display: inline-block;
}

.dataFields{
    position: fixed;
    top: 50px;
    right: 200px;
}

.dataFields input{
    display: block;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto 20px auto;
    outline: none;
}

.dataFields label{
    color: rgb(5, 170, 5);
    font-size: 20px;
}

label[for = "distancia"]{
    display: block;
}

#tiempo{
    display: block;
    width: 100%;
}

#calcular{
    border: none;
    outline: none;
    padding: 6px;
    font-size: 14px;
    margin-top: 45px;
}